body {
    background: rgb(42, 47, 79);
}

#nav{
    color: black;
}
.container {
    margin: 60px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box hr{
    height: 4px;
    background-color: black;
}


p {
    font-size: 2rem;
}

ul {
    margin-left: 100px;
}

ul li a {
    font-size: 1.3rem;
}

img {
    height: 400px;
    margin: 20px;
    border-radius: 10px;
}